[submodule "Phishing Domain Detection App"]
	path = Phishing Domain Detection App
	url = https://github.com/rishabh11336/Phishing-detection.git
[submodule "Logs"]
	path = Logs
	url = https://github.com/rishabh11336/Log-Phishing-Detection.git
